<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Student Score</title>
      </head>
      <body>
        <div>
          <form action="http://localhost:5000/result" method="POST">
            <p>
              Name <br />
              <input type="text" name="Name" id="" />
            </p>
            <p>
              Reg Number <br />
              <input type="text" name="rRegistration Number" id="" />
            </p>
            <p>
              Department <br />
              <input type="text" name="Department" id="" />
            </p>
            <br />

            <p>COS 221 <input type="text" name="COS221" /></p>
            &nbsp; &nbsp;
            <p>COS 223 <input type="text" name="COS2223" /></p>
            &nbsp; &nbsp;
            <p>MTH 221 <input type="text" name="MTH221" /></p>
            &nbsp; &nbsp;
            <p>ENT 221 <input type="text" name="ENT221" /></p>
            &nbsp; &nbsp;
            <p><input type="Submit" value="Submit" /></p>
          </form>
        </div>
      </body>
    </html>
  </body>
</html>
